
.customizationRoot {
  position: absolute;
  bottom: 5rem;
  background-color: #000;
  max-height: 20rem;
  width: 12rem;
  border-radius: 1rem;
  padding: 1rem;
}

.left {
  left: 2rem;
}

.right {
  right: 2rem;
}