html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: #9f989808;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #cdfaf8 0%, #FFDEE9 100%);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.bubble-circle {
  animation: rotating 15s linear infinite;
  opacity: 0.2;
  background: #e3405f;
  border-radius: 335.383px 406px 323.168px 384.988px;
  bottom: 0;
  display: block;
  height: 50vw;
  margin: 50px auto;
  transition: background-color 2s ease-out;
  width: 40vw;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 15s linear infinite;
  -moz-animation: rotating 15s linear infinite;
  -ms-animation: rotating 15s linear infinite;
  -o-animation: rotating 15s linear infinite;
  animation: rotating 15s linear infinite;
}

.underline-animation {
  display: inline-block;
  position: relative;
  color: #e3405f;
}

.underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #e3405f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation-black {
  display: inline-block;
  color: #000;
  position: relative;
}

.ocean {
  height: 10vh; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 2000vw;
  height: 100%;
  animation: wave 100s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 180s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 200s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-70%);}
}

@media screen and (min-width: 768px) {
  .bubble-circle  {
    width: 30vw;
    height: 30vw;
  }
}