html, body {
  margin: 0;
  overflow-x: hidden;
  background-color: #9f989808;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #cdfaf8 0%, #FFDEE9 100%);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.bubble-circle {
  animation: rotating 15s linear infinite;
  opacity: 0.75;
  background: #e3405f;
  border-radius: 335.383px 406px 323.168px 384.988px;
  bottom: 0;
  display: block;
  height: 500px;
  margin: 50px auto;
  transition: background-color 2s ease-out;
  width: 500px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 15s linear infinite;
  -moz-animation: rotating 15s linear infinite;
  -ms-animation: rotating 15s linear infinite;
  -o-animation: rotating 15s linear infinite;
  animation: rotating 15s linear infinite;
}